################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Preveld.v11.suo
/obj
/bin
/App_Data
/.vs
/Preveld.csproj.user
/Web.config
/Web.config
